<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-SGJ05OG;Initial Catalog=joblaness; User ID=sa; Password=123456;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=TASKIN\SQLEXPRESS;Initial Catalog=joblanes; User ID=taskin; Password=123456;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=taskin;Initial Catalog=joblanes; User ID=taskin; Password=123456;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>